
*{
  box-sizing: border-box;
  margin: 0;
}

#root {

  margin: 0 auto;
  text-align: center;
}

.Links{
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  
}

nav{
margin-right: 15%;
margin-left: 15%;
margin-top: 5%;
margin-bottom: 5%;
}

main{
  margin-right: 15%;
margin-left: 15%;
}

footer > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
    height: 20rem;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  color: white;
  bottom: 0;
}

.Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
   background-color: #495e57;
 margin-left: 30%;
 margin-right: 30%;
 margin-bottom: 15%;
 margin-top: 7%;
 height: 100%;
 color: white;
}

Input, textarea{

  background-color: white;
  font-weight: bold;
  color: #495e57;
  width: 283px;
  height: 50px;
  padding: 0.5rem;
}

textarea{
  max-height: 50rem;
}

Button{
  width: 358px;
  height: 50px;
  background-color:#f4ce14;
  color: black;
  font-weight: bolder;
  border-radius: 16px;
   
}

Button:hover{

  background-color: #495e57;
  color: aliceblue;
}
